<div class="box">
    <div class="title">
        <h1>San Jose, CA</h1>
    </div>
    <div class="below">
        <div class="info">
            <h4>Humidity: {{info.main.humidity}}</h4>
            <h4>Temperature (Average): {{info.main.temp}}</h4>
            <h4>Temperature (High): {{info.main.temp_max}}</h4>
            <h4>Temperature (Low): {{info.main.temp_min}}</h4>
            <h4>Status: {{info.weather[0].description}}</h4>
        </div>
        <div class="img">
            <img src="https://images.pexels.com/photos/6275464/pexels-photo-6275464.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"/>
        </div>
    </div>
</div>