<div class="box">
    <div class="title">
        <h1>San Jose, CA</h1>
    </div>
    <div class="below">
        <div class="info">
            <h4>Humidity:</h4>
            <h4>Temperature (Average):</h4>
            <h4>Temperature (High):</h4>
            <h4>Temperature (Low):</h4>
            <h4>Status:</h4>
        </div>
        <div class="img">
            <img src="https://images.pexels.com/photos/6275464/pexels-photo-6275464.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"/>
        </div>
    </div>
</div>